.button {
    background-color: #000;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 20px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: all 0.2s ease 0s;
    color: var(--background-color);
}

.button:hover {
    background-color: var(--background-color);
    color: var(--text-color);
    cursor: pointer;
}

.button .icon {
    transition: 0.2s ease 0s;
}

.button:hover .icon {
    transform: translateY(-5px);
}

